<div class="h-6"></div>
<footer class="max-w-5xl mx-auto px-4 py-2">
  <section class="flex items-center space-x-8">
    <a href="https://calendly.com/adrianvalenz/30min?back=1&month=2023-01" 
      onclick="window.fathom.trackGoal('FULEL7OM', 0);" 
      target="_blank" 
      class="flex group items-center space-x-2 uppercase text-sm hover:text-sky-600"/>
      <span>
        <svg class="w-6 h-6 text-sky-700 group-hover:-rotate-12 group-hover:text-sky-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 1.5H8.25A2.25 2.25 0 006 3.75v16.5a2.25 2.25 0 002.25 2.25h7.5A2.25 2.25 0 0018 20.25V3.75a2.25 2.25 0 00-2.25-2.25H13.5m-3 0V3h3V1.5m-3 0h3m-3 18.75h3" />
        </svg>
      </span>
      <span class="tracking-wide text-sky-700">Schedule a call</span>
    </a>
    <a href="https://bsky.app/profile/adrianvalenz.bsky.social" 
      onclick="window.fathom.trackGoal('OC2QNX13', 0);" 
      target="_blank" 
      class="flex group items-center space-x-2 uppercase text-sm hover:text-sky-600">
      <span>
        <svg class="w-6 h-6 fill-sky-700 group-hover:-rotate-12 group-hover:fill-sky-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M407.8 294.7c-3.3-.4-6.7-.8-10-1.3c3.4 .4 6.7 .9 10 1.3zM288 227.1C261.9 176.4 190.9 81.9 124.9 35.3C61.6-9.4 37.5-1.7 21.6 5.5C3.3 13.8 0 41.9 0 58.4S9.1 194 15 213.9c19.5 65.7 89.1 87.9 153.2 80.7c3.3-.5 6.6-.9 10-1.4c-3.3 .5-6.6 1-10 1.4C74.3 308.6-9.1 342.8 100.3 464.5C220.6 589.1 265.1 437.8 288 361.1c22.9 76.7 49.2 222.5 185.6 103.4c102.4-103.4 28.1-156-65.8-169.9c-3.3-.4-6.7-.8-10-1.3c3.4 .4 6.7 .9 10 1.3c64.1 7.1 133.6-15.1 153.2-80.7C566.9 194 576 75 576 58.4s-3.3-44.7-21.6-52.9c-15.8-7.1-40-14.9-103.2 29.8C385.1 81.9 314.1 176.4 288 227.1z"/></svg>
      </span>
      <span class="tracking-wide text-sky-700">@adrianvalenz.bsky.social</span>
    </a>
  </section>
</footer>
